@use "../variables" as vars;
/* Header Styles */
.header {
  background-color: vars.$dark-blue;
  border-bottom: 4px solid vars.$dark-blue-secondary;
  margin-bottom: vars.$space-l;

  * {
    color: vars.$white;
    letter-spacing: 0.5px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: vars.$max-width;
    margin: auto;
    padding: vars.$space-s vars.$space-l;

    .nav-tabs {
      display: flex;
      gap: vars.$space-xxl;
    }

    .nav-tabs__link {
      text-decoration: none;
      border: none;

      &:after { 
        content: "";
        transition: border .3s ease-in-out;
      }

      &.active {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: -27px;
          width: 100%;
          left: 0;
          border-bottom: 4px solid vars.$light-blue;
        }
      }
    }

    @media only screen and (max-width: 800px) {
      display: block;
      padding: vars.$space-m vars.$space-l;

      .nav-tabs {
        margin: vars.$space-m 0;
      }

      .nav-actions {
        display: flex;
        flex-wrap: wrap;
        gap: vars.$space-xs;
      }
    }
  }

  /* Logo section */
  .logo {
    .app-name {
      color: vars.$white;
      opacity: 0.7;
      font-size: 12px;
      margin-bottom: vars.$space-xs;
      margin: 0;
      letter-spacing: 0.8px;
      margin-bottom: vars.$space-xs;
    }

    .subtitle {
      font-weight: 700;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.support-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  .custom-svg-icon {
    height: 16px;
    width: 16px;
    fill: vars.$white;
  }
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: vars.$space-l;
  font-size: 0.8em;
  font-weight: 600;

  > .current-user_logout {
    padding: vars.$space-m;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 32px;
    width: 32px;

    .custom-svg-icon {
      opacity: 0.7;
      fill: vars.$white;
      height: 14px;
      width: 14px;
    }
  }
}

.user-info {
  display: flex;
  align-items: center;
  pointer-events: all;

  .user-name {
    line-height: 1.1rem;
    font-weight: bold;
  }

  img {
    height: 32px;
    width: 32px;
  }
}

.fa-border-all,
.fa-bars {
  color: vars.$light-gray-third;
}
