@use "../variables" as vars;
.sign {
  display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;

  max-width: 100vw;
  margin: auto;

  &__form-content {
    gap: vars.$space-m;
    margin-top: vars.$space-xl;
  }

  &__title {
    font-size: vars.$font-size-xxl;
    font-weight: 600;
    margin-bottom: vars.$space-s;
  }

  &__leading {
    font-size: calc(vars.$font-size-xl - 0.4rem);
    opacity: 0.6;
    margin-bottom: vars.$space-xxl;
  }

  &__form {
    gap: vars.$space-l;
    border-radius: 8px;
    padding: calc(vars.$space-xxl * 2);
    min-width: 320px;
    max-width: 760px;
    margin: vars.$space-xxl 0;

    &.in {
      background: vars.$white;
      box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
        rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
        rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
        rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
        rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
        rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    }

    .signin__signup-link {
      color: vars.$light-gray-secondary;
      font-size: 0.9rem;
      margin-top: vars.$space-xxl;
    }
  }
}

/* Mobile ------------------ */
@media only screen and (max-width: 600px) {
  .signin__form {
    padding: vars.$space-m;
    margin: vars.$space-m;
  }
}
